.wrapper{
/* ekranın tam boyutunu kullanmak için */
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
}


.movie-list{
  background-color: black; 
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px; 
}


.movie-summary{
  background-color: blue; 
  flex: 2;
}


.movie-favList{
  background-color: yellow; 
  flex: 1;
}


.movie-list h2{
  color: white;}
  

.movie-list ul{
  padding: 10px;
  flex: 1;
  overflow: auto;
}

.movie-item{
  display: flex;
  color: black;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10px;
  background-color:white;
}

.movie-item:last-child{
  margin-bottom: 0;
}

.movie-item img{
  width: 100px;
}

.movie-info{
  flex: 2;
}


button{
   background-color: #000000;
   color: white;
   border: 0;
   padding: 0 1rem;
   height: 36px;
   cursor: pointer;
}

button:hover{
  background-color: rgb(215, 179, 18);
  color: rgb(123, 7, 7);
}








/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}